@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORÇAR VISUALIZAÇÃO MOBILE NO NAVEGADOR */
@media (min-width: 481px) {
  html, body {
    background-color: #000000 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
  }

  #root, .expo-router-root, [data-expo-router-root] {
    max-width: 430px !important; /* Largura iPhone Pro Max */
    width: 100% !important;
    height: 95vh !important;
    max-height: 880px !important;
    position: relative !important;
    margin: 0 auto !important;
    box-shadow: 0 0 100px rgba(0, 0, 0, 1) !important;
    border: 10px solid #111111 !important; /* Moldura de Celular */
    border-radius: 45px !important;
    overflow: hidden !important;
    background-color: #050505 !important;
    display: block !important;
  }
}

/* Esconder barras de rolagem para manter o visual de app nativo */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
